html{
    scroll-behavior: smooth;
}
body{
    background-color: #0d0d0d;
    color: white;
    font-family:Arial;
    text-align: center;
    margin-top: 0;
    /*max-width:1200px;
    margin-left:auto;
    margin-right:auto;*/
    padding-bottom: 200px;
    background-size: cover;
    background-position: Center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-blend-mode: multiply;
    }
    h1 {
        font-size: 72px;
        font-family:"Creepster",cursive;
        margin-bottom: 20px;
    }
    p{
        font-size:25px;
        margin-top:20px;
    }
    h2{
        font-size:35px;
        margin-top:60px;
        font-family: Arial;
    }
    p{
        margin:10px 0;
    }
    ul{
        list-style: none;
        padding-left: 0;
        }
    li{
        font-size:24px;
        margin: 10px 0;
    }
    #contact{
        margin-top:80px;
    }
    h2{
        border-top: 1px solid #444;
        padding-top: 30px;
    }
    ul{
        text-align: left;
        display: inline-block;
    }
    #contact p{
        font-size: 20px;
    }
    nav{
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    nav a {
        display:inline-block;
        background-color: #111111;
        color: white!important;
        padding: 16px 23px;
        margin: 10px 8px;
        font-size: 25px;
        text-decoration: none;
        border-radius: 12px;
        border: 1px solid #le90ff;
    }
    .hero-video-section{
        position: relative;
        overflow: hidden;
    }
    .hero-video{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .hero-video-section::after{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }
    .hero-video-section h1,
    .hero-video-section h2,
    .hero-video-section p,
    .hero-video-section a{
        color: white;
    }
    .tagline{
        font-size: 35px;
        font-weight: 600;
        margin-top: 10px;
    }
    .hero-video-section::after{
        pointer-events: none;
    }
    .residential-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        max-width: 2000px;
        margin: 60px auto;
        padding: 0 40px;
        margin-bottom: 200px;
        line-height: 2.0;
        font-size: 40px;
        background:
        radial-gradient(circle at center, rgba(255,80,0,.2), transparent 70%), #111111;
        color: white;
    }
    .residential-img {
        width: 500px;
        height: auto;
        border-radius: 10px;
    }
    .residential-text ul{
        padding-left: 0;
        flex: 1;
        color: white;
        margin-left: 0;
    }
      .residential-text summary{
        margin-left: 10px;
        padding-left: 10px;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        display: list-item;
    }
    .residential-text li{
        margin-left: 10px
        padding-left: 10px;
    }
    .commercial-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        max-width: 2000px;
        margin: 60px auto;
        margin-bottom: 200px;
        padding: 0 40px;
        line-height: 2.0;
        background:
        radial-gradient(circle at center, rgba(255,80,0,.2), transparent 70%), #111111;
        color: white;
        
    }
    .commercial-img{
        width: 500px;
        height: auto;
        border-radius: 10px;

    }
    .commercial-text ul{
        flex: 1;
        color: white;        
        padding-right: 0;
        margin-right: 0;
        display: list-item;
    }
    .commercial-text li,
    .commercial-text details,
    .commercial-text summary{
        margin-left: 10px;
        padding-left: 10px;
        font-size: 35px;
        font-weight: bold;
    }
    .contact-box{
        background-color:#b87400;
        color: black;
        padding: 30px;
        border-radius: 10px;
        max-width: 600px;
        margin: 120px auto 80px auto;
        margin-top: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255,255,255,0.2);
        position: center;
        top: 150px;
        right: 20px;
    }
    .contact-box p{
        margin: 10px 0;
        font-size: 24px;
        
    }
    .contact-box strong { color: #ffffff;
    }
   .residential-text ul,
   .commercial-text ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
   }
   .residential-text li,
   .commercial-text li{
    font-size: 35px;
    line-height: 1.5;
    margin: 18px 0;
    font-weight: 600;
   }
    .policy-page{
    background: linear-gradient(135deg,rgba(255,80,0,.25), #111111 45%, #111111 100%);
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    font-family: Arial, sans-serif;
   }
   .policy-page h1{
    text-align: center;
    margin-bottom: 30px;
   }
   .policy-page p,
   .policy-page li{
     font-size: 25px;
     line-height: 1.7;
  }
   .policy-page a{
    display: inline-block;
    margin-bottom: 25px;
    font-size: 20px;
   }
   .refunds-page{
    background: linear-gradient(135deg,rgba(255,80,0,.25), #111111 45%, #111111 100%);
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    font-family: Arial, sans-serif;
   }
   .refunds-page h1{
    text-align: center;
    margin-bottom: 30px;
   }
   .refunds-page p,
   .refunds-page li{
     font-size: 25px;
     line-height: 1.7;
  }
   .refunds-page a{
    display: inline-block;
    margin-bottom: 25px;
    font-size: 20px;
   }
   .terms-page{
    background: linear-gradient(135deg,rgba(255,80,0,.25), #111111 45%, #111111 100%);
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    font-family: Arial, sans-serif;
   }
   .terms-page h1{
    text-align: center;
    margin-bottom: 30px;
   }
   .terms-page p,
   .terms-page li{
     font-size: 25px;
     line-height: 1.7;
  }
   .terms-page a{
    display: inline-block;
    margin-bottom:  25px;
    font-size: 20px; 
   }
   {
    box-sizing: border-box;
   }
   .quote-btn{
    display: inline-block;
    background-color: #b87401;
    color: black !important;
    padding: 20px 35px;
    font-size: 20px;
    margin: 25px 0 40px 0;
    border-radius: 12px;
    text-decoration: none;
   }
   @media(max-width: 768px){
    .residential-section,
    .commercial-section{
        display: block;
    }
    .residential-img,
    .commercial-img{
        display: block;
        width: 100%;
        max-width: 350px;
        height: auto;
        margin: 0 auto 20px auto;
   }
   .residential-text,
   .commercial-text{
    display: block;
    width: 100%;
    text-align: left;
   }
   .services ul{
    text-align:center;
   }
   
    .gallery-section img{
        width: 100%;
        max-width: 350px;
        height: auto;
        border-radius: 10px;
        margin: 15px auto;
        display: block;
     }
    .why-power-washing{
        background: radial-gradient(circle at 15% 50%, rgba(255,80,0,.2), transparent 60%),#111111;
    color: white; 
    padding: 40px 20px;
    text-align: center;
   }
   .commercial-section h2,
   .residential-section h2{
    width: 100%;
    text-align: center;
   }
   .commercial-section,
   .residential-section{
    width: 100%;
    box-sizing: border-box;
   }
   .quote-btn{
    background-color: #b87401;
    color: black !important;
    padding: 20px 35px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 12px;
   }
   details{
    margin:15px 0;
    background-color: #111111;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #le90ff;
    }
    summary{
        font-weight: bold;
        cursor: pointer;
        font-size: 20px;
    }
    
    nav a {
        background-color: #111111;
        color: white !important;
        border: 1px solid #1e90ff;
    }
     .pricing-section{
        background:
        radial-gradient(circle at center, rgba(250,80,0,.50), transparent 70%),#111111;
        color:white;
        padding: 40px;
    }
    }
    @media(max-width: 768px){
    .featured-truck{
        width: 90%;
        max-width: 500px;
        height: auto;
        display: block;
        margin: 20px auto;
    }
     .quote-logo{
      top:250px;
       left:0;
        width:100%;
       opacity:.25%;
    }
    .quote-logo img{
        width:100%;
        height: auto;
    }
    .gallery-section{
        background: radial-gradient(circle at 15% 50%, rgba(255,80,0,.2), transparent 60%), #111111;
    }
        form{
        width: 95%;
        margin: 0 auto;
        font-size: 18px;
   }
   form input,
   form select,
   form textarea{
    width: 100%;
    box-sizing: border-box;
    margin-bottom:15px;
    font-size: 18px;
     background-dolor:rgba(255,255,255,.85);
       border:2px solid #1e90ff;
       border-radius:6px;
   }
   form label{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color:#f2f2f2;
    text-shadow:2px 2px 5px black; 
    }
    h1{
    font-size: 42px !important;
   }
    .quote-title{
    font-size:42px !important;
   }
    }
     
   
   

      
      
